__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.venv/
venv/
conda_env/

data/
videos/

*.npy
*.pt
*.pth
*.ckpt
*.mp4
*.wav

ecappafeats/
facenetfeats/
ecappafeats_synthetic/
facenetfeats_synthetic/
ecappafeats_original_extracted/
facenetfeats_original_extracted/

pipeline_output/
pipeline_output_original/
outputs/
logs/
*.log
errors.json
*_errors.json

checkpoints/
pretrained_models/

Wav2Lip/checkpoints/
Wav2Lip/results/
Wav2Lip/temp/

.DS_Store
Thumbs.db